*{
    overflow-x: hidden;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    


}
.navRight{
    display: flex;
    justify-content: space-between;
    flex-direction: row;


    

    
}



/*------------------------landing----------------------------*/
.sparkland{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top:30px; */
}
.mainland{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sparkcontentleft{
    justify-content: center;
    /* display: flex; */
    font-size: 30px;
    /* margin-left: 20px;
    margin-top: 68px; */
}
.left{
    font-family: ProductSans-Regular;
    color: #3331EC;

}
.line{
    border-left: 3px solid #3331EC;
    height: 75px;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    /* margin-left:-200px;
    margin-top: 70px; */
}
.sparklogo{
    display: block;
    justify-content: center;
    /* margin-top: 50px; */
    font-family: ProductSans-Regular;
    color: #3331EC;
    font-size: 80px;
    font-weight: bold;
    /* margin-left: -200px; */
}
.paracont{
    display: block;
    width: 400px;
    /* margin-top: 0px; */
    
    font-family: ProductSans-Regular;
    font-size: 18px;
    /* margin-left: 530px; */
}

.schedulemain{
    display: flex;
    /* width: 1435px; */
    background-color: rgb(242, 246, 255);
    /* overflow-x: hidden;
    margin-top: 100px; */
    
}
.title{
    display: flex;
    justify-content: center;
    flex-direction: row;
    

}

.headingschedule{
    font-family: ProductSans-Regular;
    color: #3331EC;
    font-weight: bold;
    font-size: 30px;
    /* margin-left: 580px;
    padding-top: 10px; */
} 

.line2{
    border-left: 3px solid #3331EC;
    /* display: block; */
    height: 50px;
    /* margin-left: 700px;
    margin-top: -40px; */
}

.contentsch{
    font-family: ProductSans-Regular;
    color: #3331EC;
    font-size: 20px;
}

.flow{
    
    font-size: 20px;
    /* margin-left: 710px;
    margin-top: -65px; */
}

.container{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    margin-bottom: 50px;  
}
.inau{
    height: 240px;
    width: 268px;
    background-color: #ffffff;
    /* margin-left: 110px;
    margin-right: 60px; */
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    font-family: ProductSans-Regular;
    
}
.p1{
    font-family: ProductSans-Regular;
    font-weight: bold;
    font-size: 22.36px;
    color: #3331EC;
    /* cursor: pointer; */
}
.git{
    height: 240px;
    width: 268px;
    background-color: #ffffff;
    /* margin-right: 80px;
    margin-left: 20px; */
    padding: 10px;
    margin: 15px;
    font-family: ProductSans-Regular;
    /* cursor: pointer; */
    border-radius: 5px;   
}
.html{
    height: 240px;
    width: 268px;
    background-color: #ffffff;
    /* margin-right: 80px;
    margin-left: 0px; */
    padding: 10px;
    margin: 15px;
    font-family: ProductSans-Regular;
    /* cursor: pointer; */
    border-radius: 5px;
}
.basics1{
    height: 240px;
    width: 268px;
    background-color: #ffffff;
    /* margin-left: 110px;
    margin-right: 60px;
    margin-top: 20px; */
    padding: 10px;
    margin: 15px;
    font-family: ProductSans-Regular;
    /* cursor: pointer; */
    border-radius: 5px;
}
.basics2{
    height: 240px;
    width: 268px;
    background-color: #ffffff;
    /* margin-right: 80px;
    margin-left: 20px;
    margin-top: 20px; */
    padding: 10px;
    margin: 15px;
    font-family: ProductSans-Regular;
    /* cursor: pointer;    */
    border-radius: 5px; 
}
.advanced{
    height: 240px;
    width: 268px;
    background-color: #ffffff;
    /* margin-right: 80px;
    margin-left: 0px;
    margin-top: 20px; */
    padding: 10px;
    margin: 15px;
    font-family: ProductSans-Regular;
    /* cursor: pointer;  */
    border-radius: 5px;   
}
.gitadvanced{
    height: 240px;
    width: 268px;
    background-color: #ffffff;
    /* margin-left: 110px;
    margin-right: 60px;
    margin-top: 20px; */
    padding: 10px;
    margin: 15px;
    font-family: ProductSans-Regular;
    /* cursor: pointer; */
    border-radius: 5px;
}
.bootstrap1{
    height: 240px;
    width: 268px;
    background-color: #ffffff;
    /* margin-right: 80px;
    margin-left: 20px;
    margin-top: 20px; */
    padding: 10px;
    margin: 15px;
    font-family: ProductSans-Regular;
    /* cursor: pointer; */
    border-radius: 5px;    
}
.bootstrap2{
    height: 240px;
    width: 268px;
    background-color: #ffffff;
    /* margin-right: 80px;
    margin-left: 0px;
    margin-top: 20px; */
    padding: 10px;
    margin: 15px;
    font-family: ProductSans-Regular;
    /* cursor: pointer; */
    border-radius: 5px;    
}
.speaker{
    height: 240px;
    width: 268px;
    background-color: #ffffff;
    /* margin-left: 110px;
    margin-right: 60px;
    margin-top: 20px; */
    padding: 10px;
    margin: 15px;
    font-family: ProductSans-Regular;
    /* cursor: pointer;  */
    border-radius: 5px;   
}
.js1{
    height: 240px;
    width: 268px;
    background-color: #ffffff;
    /* margin-right: 80px;
    margin-left: 20px;
    margin-top: 20px; */
    padding: 10px;
    margin: 15px;
    font-family: ProductSans-Regular;
    /* cursor: pointer; */
    border-radius: 5px;    
}
.js2{
    height: 240px;
    width: 268px;
    background-color: #ffffff;
    /* margin-right: 80px;
    margin-left: 0px;
    margin-top: 20px; */
    padding: 10px;
    margin: 15px;
    font-family: ProductSans-Regular;
    /* cursor: pointer; */
    border-radius: 5px;
}
.graphica{
    height: 240px;
    width: 268px;
    background-color: #ffffff;
    /* margin-left: 28px;
    margin-top: 20px; */
    padding: 10px;
    margin: 15px;
    font-family: ProductSans-Regular;
    /* cursor: pointer; */
    border-radius: 5px;
}

.speakercontainer{
    display: block;
    width: 1435px;
    
    background-color: #ffffff;
    overflow-x: hidden;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    /* z-index: 0; */
}
.speakercont{
        background-color: rgb(242, 246, 255);
        margin-top: 30px;
        width: 300px;
        display: block;
        margin-left: 590px;
        height: 250px;
        margin-bottom: 15px;
        border-radius: 10px;
}
.speakerdiv{
    font-family: ProductSans-Regular;
    color: #3331EC;
    font-weight: bold;
    font-size: 30px;
    padding=top: 10px;
    margin-left: 590px;
    margin-top: 20px
    
}
.line3{
    border-left: 3px solid #3331EC;
    display: block;
    height: 50px;
    margin-left: 700px;
    margin-top: -40px;
}
.jour{
    font-family: ProductSans-Regular;
    color: #3331EC;
    font-size: 18px;
}
.speak{
    font-size: 18px;
}
.speakflow{
    margin-left: 710px;
    margin-top: -52px;
}
.name{
    padding: 20px;
    margin-left: 80px;
    margin-top: 125px;
}
.sir{
    margin-left: 12px;
}
.speakercont:hover{
    padding: 5px;
}

.eventMain{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.replica{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    margin : auto 25px;
    padding: 20px 20px;
}
.replicaTit{    
    background-color: rgb(242, 246, 255);
    height: 90%;
    width: 90%;
}
.replicaTit:hover{
    height: 100%;
    width: 100%;
    animation-duration: 0.7s;
}
.mentor{
    background-color: rgb(242, 246, 255);
}
.mentorCard{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 200px;
}

.mentors{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: white;
    margin: 50px 50px;
}

.faqsCard{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    padding: 20px 160px;
}

.faq{
    height: 55px;
    width: 1100px;
    background-color:  rgb(155, 177, 227);
    margin-bottom: 20px;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 2px;
}

.ans{
    display: none;
}

.footer{
    background-color: rgb(242, 246, 255);
    height: 400px;
}
.head{
    width: 400px;
    padding-left: 150px;
    z-index: -1;
}
.headingLast{
    padding-top: 10px;
}
.foot{
    font-size: 18px;
    width: 400px;
    
}
.right{
    width: 400px;
    float: right;
    z-index: +1;
    
    
    
}
.oss{
    margin-top: 0px;
    
}
.end{
    font-size: 17px;
    margin-left: 0px;
}